@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.back{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 8%;
    margin-top: 2%;
}

.btn_back > h2{
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: black;
}

.back_icon{
    font-size: 35px;
    color: black;
    padding-top: 2.2px;
}

.medicamento{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info_medicamento{
    
    background-color: #f5f5f5;
    border-radius: 30px;
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
    flex-direction: column;
    padding-left: 1.5%;
    padding-right: 15%;
}

.info_medicamento>h1{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 600;
    color: black;
    margin-top: 15px;
}

.puntuacion{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star_icon{
    font-size: 25px;
    padding-right: 6px;
    color: #A32B2B;
}

.puntuacion>p{
    font-size: 20px;
    font-weight: 400px;
    padding-top: 2px;
}

.info_medicamento>h2{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 400;
    color: black;
    margin-top: 40px;
    display: flex;
    justify-content: left;
}

.cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.minus_icon{
    width: 41px;
    height: 41px;
    font-size: 40px;
    color:white;
    background-color: rgba(163, 43, 43, 0.76);
    border-radius: 50%;
    margin-right: 25px;
}

.plus_icon{
    width: 41px;
    height: 41px;
    font-size: 40px;
    color:white;
    background-color: #A32B2B;
    border-radius: 50%;
    margin-left: 25px;
}

.quantity{
    width: 43px;
    height: 32px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.comprar{
    margin-top: 37px;
    border: none;
    background-color: #A32B2B;
    color: white;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
}

.comprar>p{
    font-family: 'Montserrat';
    font-size: 25px;
}

.line_container{
    display:flex;
    justify-content: center;
}
.line_div{
    width: 90%;
    height: 0.5px;
    background-color: black;
    margin-top:30px;
}

.fichatitle_container{
    display:flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 9%;
    margin-bottom: 35px;
}

.ficha_title{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 400;
    color: black;
}

.ficha_tecnica{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

.tabla_tecnica{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.row_type1{
    display: flex;
    font-family: 'Montserrat';
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 80%;
    background-color: #f5f5f5;
    font-size: 20px;
}

.row_type2{
    display: flex;
    font-family: 'Montserrat';
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 80%;
    font-size: 20px;
}

.categorie{
    font-weight: bold;
    padding-right: 40%;
    padding-left: 10px;
}

.descripcion{
    font-family: 'Montserrat';
    font-size: 20px;
    display: flex;
    width: 30%;
    margin-left: 8%;
    text-align: justify;
}

@media (max-width: 500px) {
    .back{
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row-reverse;
        margin-left: 4%;
        margin-top: 10%;
    }

    .btn_back > h2{
        font-size: 20px;
        font-family: 'Montserrat';
        font-weight: 400;
        color: black;
    }
    
    .back_icon{
        font-size: 15px;
        color: black;
        padding-top: 2.2px;
    }

    .medicamento{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .img_medicamento{
        height: auto;
        width: 320px;
    }

    .info_medicamento{
        background-color: #f5f5f5;
        border-radius: 30px;
        display: flex;
        margin-left: 0%;
        margin-top: 2%;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 25%;
    }
    
    .info_medicamento>h1{
        text-align: left;
        font-family: 'Montserrat';
        font-size: 40px;
        font-weight: 600;
        color: black;
        margin-top: 15px;
        margin-bottom: 7px;
    }

    .minus_icon{
        width: 35px;
        height: 35px;
        font-size: 35px;
        color:white;
        background-color: rgba(163, 43, 43, 0.76);
        border-radius: 50%;
        margin-right: 25px;
    }
    
    .plus_icon{
        width: 35px;
        height: 35px;
        font-size: 35px;
        color:white;
        background-color: #A32B2B;
        border-radius: 50%;
        margin-left: 25px;
    }

    .comprar{
        margin-top: 35px;
        border: none;
        background-color: #A32B2B;
        color: white;
        height: 45px;
        border-radius: 8px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .comprar>p{
        font-family: 'Montserrat';
        font-size: 22px;
    }

    .ficha_tecnica{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .fichatitle_container{
        display:flex;
        justify-content: left;
        margin-top: 20px;
        margin-left: 5%;
        margin-bottom: 20px;
    }

    .tabla_tecnica{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
    }

    .row_type1{
        display: flex;
        font-family: 'Montserrat';
        flex-direction: row;
        align-items: center;
        height: 40px;
        width: 100%;
        background-color: #f5f5f5;
        font-size: 14px;
    }
    
    .row_type2{
        display: flex;
        font-family: 'Montserrat';
        flex-direction: row;
        align-items: center;
        height: 40px;
        width: 100%;
        font-size: 14px;
    }

    .descripcion{
        font-family: 'Montserrat';
        font-size: 14px;
        display: flex;
        width: 90%;
        margin-left: 0%;
        margin-top: 40px;
        margin-bottom: 10px;
        text-align: justify;
    }

}